/*  stylesheet  */


		body {
			text-align: center; 
			font-family: "나눔바른고딕";
			font-size: 10pt; 
			margin: 50px auto 50px auto;
			/*  margin/pading: top right bottom left (시계방향)  */
		}
		h1,h2,h3{
			font-family: "나눔스퀘어";
		}
		form {
			text-align:center;
		}
		hr {
			width:50%; 
			border-width:1px; 
			border-style:dotted;  
			border-color:white;
			background-color:lemonchiffon; 
			text-align:center; 
			margin-top: 30px; 
			margin-bottom: 30px
		}
		table {
			width: 70%;
			text-align:center;
			margin: auto;
			color:#000000;
			border-style:solid;
			border-width: 1px;
			border-color: blanchedalmond;
		}
		tr, td, th {
			text-align:center;
			padding: 10px 10px 10px 10px;
			margin: auto;
			border-top: 0;
			border-right: 0;
			border-bottom: 1px solid;
			border-left: 1px solid;
			border-color: #ffccbb;
			background-color: white;
		}

		td{
			background-color: #fff9e7e5;
		}

		td:hover{
			background-color: blanchedalmond;
			cursor: default;
		}

		th{
			background-color: #ffddcc;
		}
		div {
			text-align: center;
			padding: 20px 20px 20px 20px;
		}
		.button {
			width:13%; 
			height:50px;
			background-color: lightpink; color:white;
			margin:20px 10px 20px 10px;
			font-style:initial;
			font-size:auto;
			text-shadow: 2px 2px 5px lightcoral;
			text-align:center;
			border-style:inherit;
			border-radius:20px 20px 20px 20px;
  			transition:width .5s ease;
		}
		.button:hover {
			background-color:honeydew; color:lightpink;
			font-size:large;
  			transition:width .5s ease;
		}
		input {
			padding-left:5px;
			padding-right:5px;
		}
		input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
			cursor: pointer;
		}
		a:link {
			color: black;
			font-style:normal;
			text-decoration: none;
		}
		a:hover{
			color: lightpink;
			font-style:normal;
			text-decoration: underline;
		}
		a:visited {
			color: black;
			font-style:normal;
			text-decoration: none;
		}

